# Created by https://www.gitignore.io

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### vagrant ###
.vagrant

### workspace ###
workspace
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/inspectionProfiles/
.idea/libraries/
.idea/misc.xml
.idea/modules/software-cloud_main.iml
.idea/modules/software-cloud_test.iml
.idea/workspace.xml
build/classes/main/generated/
build/classes/test/generated_tests/
build/dependency-cache/
build/resources/main/static/
build/resources/main/templates/
build/tmp/
src/main/resources/static/
src/main/resources/templates/
